{% extends 'base.html.twig' %}

{% block title %}Add User{% endblock %}

{% block body %}
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <h1 style="color: white;">RMS</h1>
                </div>
                {% include 'dashboard/includes/sidebar.html.twig' %}
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    {% include 'dashboard/includes/header.html.twig' %}
                </div>
                {% for flashMessage in app.session.flashbag.get('notice') %}
                <div style="text-align: center; color: green; font-size: x-large; background: burlywood;" class="flash-notice">{{ flashMessage }}</div>
                {% endfor %}
                <div class="user-dashboard">
                    <h1>Register New User</h1>
                    <div class="row">
                        <form id="formId">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" name="email" id="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <input type="hidden" id="userID" name="userID">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" id="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                            </div>
                            <button type="button" onclick="createUser();" class="btn btn-primary update">Submit</button>
                        </form>
                    </div>
                </div>
                <h4 style="background: #7a8fbd; padding: 19px;">No. of users</h4>
                <table id="myTable" class="display nowrap" style="width:100%">
                    <thead>
                    <tr>
                        <th>ID no.</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td class="nr">{{ user.id }}</td>
                        <td class="er">{{ user.email }}</td>
                        <td>********</td>
                        <td>
                            <button type="button" class="use-address" ><i class="fas fa-edit use-address"></i></button> |
                           <button onclick="trashUserInfo('{{ user.id }}');"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Sr#</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    {% block included_content %}
        <script>
            $(".use-address").click(function() {
                var $row = $(this).closest("tr");    // Find the row
                var $userId = $row.find(".nr").text(); // Find the text
                var $email = $row.find(".er").text();
                // test it
                console.log($userId);
            // set values
                $("#email").val($email);
                $("#userID").val($userId);
            // Change form action & button text
                $('#formId').attr('action', '/update_user_info');
                $(".update").text("Update");
            });

        //    Create user & update
            function createUser(){
                let checkFromType = $(".update").text();
                let email = $("#email").val();
                let password = $("#password").val();


                if (email != "" && password != ""){
                    if(checkFromType === "Update"){
                        let userID = $("#userID").val();
                        $.ajax({
                            type:"POST",
                            dataType:"json",
                            url: "/update_user_info",
                            data: { email: email, password: password, userID : userID},
                            success: function(data) {
                                console.log("i'm here--------"+data.message);
                                let r = confirm(data.message);
                                if (r == true) {
                                    location.reload();
                                } else {
                                    location.reload();
                                }
                                // swal(data.message, "Thank You...!", "success");
                            },
                            error: function(data) {
                                let message = 'Ops! Something went wrong.....!';
                                alert(message);
                            },
                        });
                    }else {
                        $.ajax({
                            type:"POST",
                            dataType:"json",
                            url: "/create_user",
                            data: { email: email, password: password},
                            success: function(data) {
                                console.log("i'm here--------"+data.message);
                                let r = confirm(data.message);
                                if (r == true) {
                                    location.reload();
                                } else {
                                    location.reload();
                                }
                                // swal(data.message, "Thank You...!", "success");
                            },
                            error: function(data) {
                                let message = 'Ops! Something went wrong.....!';
                                alert(message);
                            },
                        });
                    }
                }else{
                    alert("Please fill the form and try again...!");
                }

            }
            // delte user info
            function trashUserInfo($id){
                console.log($id);
                let id = $id;
                if (id !=""){
                    $.ajax({
                        type:"get",
                        dataType:"json",
                        url: "/delete_user_info/"+id,
                        success: function(data) {
                            console.log("i'm here--------"+data.message);
                            let r = confirm(data.message);
                            if (r == true) {
                                location.reload();
                            } else {
                                location.reload();
                            }
                            // swal(data.message, "Thank You...!", "success");
                        },
                        error: function(data) {
                            let message = 'Ops! Something went wrong.....!';
                            alert(message);
                        },
                    });
                }else{
                    alert("Denied! sometthing went wrong please try again later...")
                }
            }
        </script>
    {% endblock %}
{% endblock %}